
body{
  background-color:white;
  margin: 0 0 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
 
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;

}

.menu-centered a {
  font-family: 'Belgrano', serif;
  color: palevioletred;
  font-size: 30px;
  float: none;
  position: absolute;
  top: 2.2%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 10px;
}

.menu-right {
  float: right;
}

.menu-right :hover{
  background-color: grey;
}

.stranky_bez_drpdwn :hover{
  background-color: grey;
}

.dropdown :hover{
  background-color: lightgrey;
}
.container img{
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}
.centered2   {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}
.centered3   {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}

.vyber img{
  position: relative;
  width: 33.09%;
  height: 250px;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.downbar{
  overflow: hidden;
  background-color: #333;
}
.downbar1{
  font-family: 'Arial';
  font-size: 14px;
  left: 8%;
  text-decoration: none;
  position: relative;
  color: #b5a78d;
}
.downbar2{
  font-family: 'Arial';
  font-size: 14px;
  left: 66%;
  position: relative;
  color: white;
}
.downbar2 b{
  color: #b5a78d;
}
.downbar3{
  left: 70%;
  position: relative;
  color: white;
  font-size: 18px;
}
.downbar4{
  position: relative;
  color: white;
  font-size: 18px;
  left: 5%;
}
.downbar5{
  font-family: 'Arial';
  font-size: 14px;
  left: 66.5%;
  position: relative;
  color: white;
}
.downbar5 b{
  color: #b5a78d;

}input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: palevioletred;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  position: relative;
  left: 10%;
  width: 80%;
}

button:hover {
  opacity: 0.8;
}

.login{
  padding: 12px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: whitesmoke;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Zoom animacia*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Zmena vyzoru na malych obrazovkach */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

